<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agency_DB_180201066.Properties.Settings.AgencyConnectionString"
            connectionString="Data Source=CASPER-PC\SQLEXPRESS;Initial Catalog=Agency;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>